@page "/postsPage"
@using UNFORGOTTEN.Shared
@inject IPostService PostService

<h3>PostsPage</h3>

<a href="/addPage" class="btn btn-success">Add Post</a>

<div class="row mt-3">
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Search by Author" @bind="@searchAuthor"><br />
        <button class="btn btn-primary" @onclick="FilterPosts">Search</button>
    </div>
</div>

<div class="row mt-3">
    @foreach (var post in PostService.FilteredPosts)
    {
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@post.Author</h6>
                    <p class="card-text">@post.Description</p>
                    <p class="card-text">@post.AddedOn.ToString("yyyy-MM-dd HH:mm")</p>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private string searchAuthor = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await PostService.GetPosts();
        PostService.FilteredPosts = PostService.Posts;
    }

    private void FilterPosts()
    {
        PostService.FilterPosts(searchAuthor); 
    }
}

